<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="Description" content="Google Image Extractor">
    <!-- <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000" />
    <title>Google Image Extractor</title>
  </head>
  <body>
    <div class="container">
            <form method="GET" action="/images">
                <input type="text" name="image" placeholder="Search..">
                <input type="submit" class="btn">
            </form>
            <%if (searched) { %>
                <div>
                <% for (const image of images) { %>
                  <div class="center"><img  src=<%= image %> ></div> 
                <% } %>
                <% } %>
                </div>

    </div>
  </body>
</html>

